<!doctype html>
	<html lang="pl">
		<head>
			<title>Rejestr Przeglądów Budowlanych</title>



			<style = "text/css">
table {
	background: #cde;
	font-family: sans-serif;
	font-size: 12px;
	border: 1px solid #cde;
	padding: 2px;
	border-spacing: 0 1px;
	text-align: left;
}

tr:nth-child(odd) td {
	background: #fff;
}
tr:nth-child(even) td {
	background: #eee;
}

th {
	background: #cde;
	padding: 5px;
}
td {
	padding: 5px;
}

td:nth-child(5) {
	text-align: center;
}
a {
	color: #47c;
}


</style>
		</head>



		<body>

<center><h1>Rejestr Przeglądów Budowlanych</h1></center>

<h2><center>Jesteś zalogowany jako: {{username}} </center> 
<center><a href="/register/logout/">Wyloguj!</a></center></h2> 

<table class="tabele" cellspacing='0'  align="center">
<tr><td>Przegląd</td><td>Województwo</td><td>Powiat</td><td>Miasto</td><td>Ulica</td> <td>Numer</td><td>Data wystawienia</td> <td>Opis</td> </tr>

{% for row in context %}

<tr>
<td>{{row.ins_type}}</td><td>{{row.adress.state}}</td><td>{{row.adress.region}}</td><td>{{row.adress.city}}</td><td>{{row.adress.street}} </td><td>{{row.adress.number}}</td><td>{{row.data}}</td><td>{{row.description}}</td>
</tr>

{% endfor %}
</table>
<br>
<br>
<center><a href="/register/official/">Powrót!</a></center>
</body>
</html>
